<html>
    <head>
        <title>template</title>
        <script type='text/javascript' src='/static/js/jquery-1.4.2.min.js'></script>
        <script type='text/javascript'>
            var session_id='{{ sessionid }}';
        </script>
        <script type='text/javascript' src='/static/js/lib.js'></script>
    </head>
    <body>
        <p>
            <a href='#' class='brush option'>brush</a>
        </p>
        <p>
            <a href='#' class='palette option'>palette</a>
        </p>
        <p>
            <a href='#' class='path option'>path</a>
        </p>
        <p>
            <a href='#' id='commit'>commit</a>
        </p>
    </body>
</html>

