<html>
    <head>
        <title>template</title>
        <script type='text/javascript' src='/static/js/jquery-1.4.2.min.js'></script>
        <script type='text/javascript' src='/static/js/lib.js'></script>
    </head>
    <body>
        <p>
            <a href='#' class='spamshit'>text to spam</a>
        </p>
        <p>
            <a href='#' class='spamshit'>more text to spam</a>
        </p>
        <p>
            <a href='#' class='spamshit'>and evne more</a>
        </p>
        <p>
            <a href='#' class='spamshit'>Wel wjho ever knew</a>
        </p>
        <p>
            <a href='#' class='spamshit'>and yet again</a>
        </p>
    </body>
</html>

